<div class="animated fadeIn">
  <alerts [alerts]="formErrors" *ngIf="formErrors"></alerts>

  <!--
    Беги отсюда!!
  -->

  <form [formGroup]="form" (ngSubmit)="onSubmit(form)" (change)="onChange($event)">
    <div class="form-group drag-upload">
      <!--<input type="file" class="form-control-file" [attr.data-content]="'Drag file here'" ngControl="file">-->
      <div class="drop-zone" [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }" [uploader]="uploader" (fileOver)="fileOverBase($event)" ng2FileDrop>
        Drag file here
      </div>
    </div>
    <label class="form-control-label" for="file">
      or use simple upload below:
    </label>
    <div class="row">
      <div class="col">
        <div class="form-group d-inline-block">
          <!--<input type="file" id="file" class="form-control-file" ngControl="file">-->
          <input type="file" ng2FileSelect [uploader]="uploader">
        </div>
        <div class="form-group d-inline-block">
          <!--<button type="submit" class="btn btn-primary">
            Upload
          </button>-->
          <button type="button" class="btn btn-primary" [disabled]="!uploader.getNotUploadedItems().length" (click)="uploader.uploadAll()">
            Upload
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="row mb-1" *ngIf="uploader.progress">
    <div class="col">
      <progressbar [value]="uploader.progress"></progressbar>
    </div>
    <div class="col">
      <span class="badge badge-info float-left">
        Upload in progress…
      </span>
    </div>
  </div>

  <!--
    Чувак, спасайся!
  -->

  <!--<h3>Upload queue</h3>
  <p>Queue length: {{ uploader?.queue?.length }}</p>

  <table class="table">
    <thead>
      <tr>
        <th width="50%">Name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        <td *ngIf="uploader.isHTML5">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <td class="text-center">
          <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
          <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span>
              Upload
          </button>
          <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span>
              Cancel
          </button>
          <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span>
              Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <div>
      Queue progress:
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
      </div>
    </div>
    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span>
      Upload all
    </button>
    <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span>
      Cancel all
    </button>
    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span>
      Remove all
    </button>
  </div>-->

  <file-format></file-format>
</div>

<confirm [data]="confirmData" (prompt)="onConfirm($event)"></confirm>
