<div class="animated fadeIn">
  <alerts [alerts]="formErrors" *ngIf="formErrors"></alerts>

  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="row">
      <div class="col-md-6">
        <div class="row form-group" [ngClass]="validationClasses.url.formGroup">
          <label class="col-2 col-sm-1 col-md-2 form-control-label" for="gs-url">
            URL
          </label>
          <div class="col-10 col-sm-6 col-md-10">
            <input type="url" id="gs-url" class="form-control" placeholder="gs://" formControlName="url" [ngClass]="validationClasses.url.formControl" (blur)="onBlur()">
          </div>
        </div>
      </div>
      <div class="col-md-6 form-group">
        <button class="btn btn-primary">
          Authorize
        </button>
        <button type="submit" class="btn btn-primary">
          Import
        </button>
      </div>
    </div>
    <div class="row form-group" formGroupName="schedule">
      <div class="col checkbox">
        <label for="gs-reimport">
          <input type="checkbox" id="gs-reimport" value="true" formControlName="reimport"> Reimport file daily
        </label>
      </div>
    </div>
    <div class="row form-group" formGroupName="schedule">
      <label class="col-md-2 form-control-label">Import Type</label>
      <div class="col-md-10">
        <label class="radio-inline mr-h" for="gs-overwrite">
          <input type="radio" id="gs-overwrite" value="overwrite" formControlName="type">
          Overwrite
        </label>
        <label class="radio-inline" for="gs-append">
          <input type="radio" id="gs-append" value="append" formControlName="type">
          Append
        </label>
      </div>
    </div>
  </form>

  <div class="row mb-1">
    <div class="col">
      <progressbar [value]="97"></progressbar>
    </div>
    <div class="col">
      <span class="badge badge-info float-left">Import in progress…</span>
    </div>
  </div>

  <file-format></file-format>
</div>

<confirm [data]="confirmData" (prompt)="onConfirm($event)"></confirm>
