<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <form class="m-t-lg" [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
          <label for="message">Your Message</label>
          <textarea class="form-control" rows="5" id="message" formControlName="message"></textarea>
        </div>
        <div class="alert alert-info" *ngIf="form.controls['message'].touched && form.controls['message'].invalid">
          You must specify a message that's between 3 and 500 characters.
        </div>
        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary" [disabled]="(form.touched || form.dirty) && form.invalid">Submit</button>
        </div>
      </form>
      <div class="alert alert-success" role="alert" *ngIf="results">
        {{ results }}
      </div>
    </div>
  </div>
</div>
