<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <alerts [alerts]="alerts" *ngIf="alerts"></alerts>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <tabset type="pills" [justified]="true">
      <tab [heading]="tab.heading" *ngFor="let tab of tabs; let i = index">
        <ng-container [ngSwitch]="i">
          <file-import *ngSwitchCase="0"></file-import>
          <s3 *ngSwitchCase="1"></s3>
          <google-storage *ngSwitchCase="2"></google-storage>
        </ng-container>
      </tab>
    </tabset>
  </div>
</div>
