<div class="animated fadeIn">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="row">

        <div class="col-lg-3 col-4 col-sm-6 col-xs-12 provider" data-toggle="modal" (click)="showFacebookAccountModal()">
          <div class="row">
            <div class="col">
              <img [src]="facebookImagePath" [alt]="'Facebook icon'" class="provider-img">
            </div>
          </div>
          <div>
            <p class="provider-name">Facebook</p>
            <provider-connection [isConnected]="facebookConnection.isConnected"></provider-connection>
          </div>
        </div>

        <div class="col-lg-3 col-4 col-sm-6 col-xs-12 provider" data-toggle="modal" (click)="showAdwordsAccountModal()">
          <div class="row">
            <div class="col">
              <img [src]="adwordsImagePath" [alt]="'Adwords icon'" class="provider-img">
            </div>
          </div>
          <div>
            <p class="provider-name">Adwords</p>
            <provider-connection [isConnected]="adwordsConnection.isConnected"></provider-connection>
          </div>
        </div>

        <div class="col-lg-3 col-4 col-sm-6 col-xs-12 provider" data-toggle="modal" (click)="showTwitterAccountModal()">
          <div class="row">
            <div class="col">
              <img [src]="twitterImagePath" [alt]="'Twitter icon'" class="provider-img">
            </div>
          </div>
          <div>
            <p class="provider-name">Twitter</p>
            <provider-connection [isConnected]="twitterConnection.isConnected"></provider-connection>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<facebook-account [connectionInfo]=facebookConnection></facebook-account>
<adwords-account [connectionInfo]=adwordsConnection></adwords-account>
<twitter-account [connectionInfo]=twitterConnection></twitter-account>
