<div class="connection-info">
  <i [ngClass]="isConnected
        ? ['fa', 'fa-check-circle', 'connection-success']
        : ['fa', 'fa-times-circle', 'connection-danger']"></i>
  <span>{{ isConnected ? 'Connected' : 'Not connected' }}</span>
</div>
